{
    "presets": [
        "env"
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./src"],
            "alias": {
                "test": "./test",
                "underscore": "lodash"
            }
        }],
        ["transform-runtime", {
            "helpers": false,
            "polyfill": false,
            "regenerator": true,
            "moduleName": "babel-runtime"
        }]
    ]
}