version: 2
jobs:
  build:
    docker:
      - image: circleci/node:9.8

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

  deploy-docker:
    machine: true

    working_directory: ~/repo

    steps:
      - checkout

      - run: docker login -u $DOCKER_USER -p $DOCKER_PASS

      - run: docker build -t $DOCKER_USER/$DOCKER_IMAGE_NAME .

      - run: docker push $DOCKER_USER/$DOCKER_IMAGE_NAME

  deploy-gc:
    docker:
      - image: google/cloud-sdk
    
    working_directory: ~/repo

    steps:
      - checkout

      - run: echo $GCLOUD_SERVICE_KEY | base64 --decode --ignore-garbage > ~/repo/key.config.json

      - run: apt-get update --yes && apt-get --only-upgrade install kubectl google-cloud-sdk google-cloud-sdk-app-engine-grpc google-cloud-sdk-pubsub-emulator google-cloud-sdk-app-engine-go google-cloud-sdk-datastore-emulator google-cloud-sdk-app-engine-python google-cloud-sdk-cbt google-cloud-sdk-bigtable-emulator google-cloud-sdk-app-engine-python-extras google-cloud-sdk-datalab google-cloud-sdk-app-engine-java --yes

      - run: gcloud --quiet components update

      - run: gcloud auth activate-service-account --key-file $GOOGLE_APPLICATION_CREDENTIALS

      - run: gcloud config set project $GCLOUD_PROJECT


workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build

      - deploy-docker:
          filters:
            branches:
              only: master
          requires:
            - build

      - deploy-gc:
          requires:
            - build
